<!--https://slimselectjs.com/install#cdn-->
<script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
<link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>

<%= form_with(url: '/search-and-filter') do |form| %>

  <div class="my-5">
    <%= form.label :category_ids, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
    <!--https://slimselectjs.com/install#cdn-->
    <%= form.select :category_ids, Category.pluck(:name, :id), {}, { multiple: true, id: 'selectCategories', class: 'text-lg' } %>
  </div>

  <div class="my-5">
    <%= form.label :title, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
    <%= form.text_field :title, class: "bg-gray-50 mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="my-5">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

<!--https://slimselectjs.com/install#cdn-->
<script type="text/javascript">
    let select = new SlimSelect({
        select: '#selectCategories',
        settings: {
            allowDeselect: true,
        }
    })
    if (select.getSelected().length == 0) // if new movie
    {
        select.setSelected('1') // default 'Action'
    }
</script>
