<p class="text-lg font-black text-gray-900 dark:text-white text-center">
  found <%= @movies.total_count %> records
  <% if @movies.total_count > 30 %>
  <div class="my-5 text-center z-10 px-3 py-2 leading-tight text-blue-600 dark:border-gray-700 dark:bg-gray-700 dark:text-white">
    <%= paginate @movies %>
  </div>
<% end %>
</p>

<hr class="my-5 h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

<div class="flex flex-wrap items-top justify-center place-items-top">
  <% @movies.each do |movie| %>
    <div class="m-5 max-w-xs">
      <div class="rounded-t-lg overflow-hidden shadow-lg w-64 bg-gray-300">
        <a href="/movies/<%= movie.id %>">
          <% if movie.image.attached? %>
            <%= image_tag movie.image, width: '256px', height: '384px' %>
          <% else %>
            <%= image_tag 'no_img.png', width: '256px', height: '384px' %>
          <% end %>
        </a>

        <div class="px-6 py-1 text-center">
          <div class="font-bold text-lg truncate text-ellipsis"><%= movie.title %></div>
        </div>

        <!--It is possible to provide a quick star rating without reloading a page-->
        <%= render partial: 'movies/rating', locals: { movie: movie } %>

        <div class="px-6 pt-4 pb-2">
          <% if movie.categories.exists? %>
            <% movie.categories.each do |category| %>
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#<%= category.name %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% if current_user %>
      <% if current_user.admin? or current_user.super_admin? %>
        <!--Link to edit a movie-->
        <div class="flex justify-end ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
              <a xlink:href="<%= "/admin/movies/#{movie.id}/edit" %>">
                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
              </a>
            </svg>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if @movies.total_count > 30 %>
  <div class="my-5 text-center z-10 px-3 py-2 leading-tight text-blue-600 dark:border-gray-700 dark:bg-gray-700 dark:text-white">
    <%= paginate @movies %>
  </div>
<% end %>
