<div class="p-4">
  <div class="flex flex-wrap justify-end">
    <% if current_user %>
      <% unless current_user.user? %>
        <!--Link to edit a movie-->
        <div class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
            <a xlink:href="<%= "/admin/movies/#{@movie.id}/edit" %>">
              <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
              <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
            </a>
          </svg>
        </div>
        <div class="flex justify-end mx-1.5">
          <%= button_to "Delete", "/admin/movies/#{@movie.id}", method: :delete, class: 'text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900',data: { turbo_confirm: 'Are you sure you want to delete this movie post?' } %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="my-2 flex justify-end text-sm">
    (created) <%= @movie.created_at.to_date %>
  </div>
  <div class="pb-3 flex justify-end text-sm">
    (update) <%= @movie.updated_at.to_date %>
  </div>
  <div class="my-2 flex justify-center">
    <% if @movie.image.attached? %>
      <%= image_tag @movie.image, width: '256px' %>
    <% else %>
      <%= image_tag("no_img.png") %>
    <% end %>
  </div>

  <div class="px-6 py-1 text-center text-6xl my-10">
    <div class="font-bold text-md"><%= @movie.title %></div>
  </div>

  <%= render partial: 'movies/rating', locals: { movie: @movie } %>

  <div class="px-6 pt-4 pb-2">
    <% if @movie.categories.exists? %>
      <% @movie.categories.each do |category| %>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#<%= category.name %></span>
      <% end %>
    <% end %>
  </div>

  <div class="my-5">
    <div class="trix-content overflow-hidden">
        <%= @movie.text %>
    </div>
  </div>
</div>
